img { display : inline-block;
		margin : auto;}
	.con { text-align: center;}
	.void1 { margin-bottom: 30px;}
	.void2 { margin-bottom: 15px; margin-right: 13px; margin-left: 13px;}
	.void3 { margin-top: 20px; }
	.void4 { margin-bottom: 20px; margin-right: 13px; }